2026-06-21

✓ Stable definitions do not store Wrestler ID2 values.

✓ Stable definitions store WrestlerPointers.

✓ Each stable has a WrestlerPointerStart.

✓ WrestlerPointers are loaded from WrestlerPointerStart.

✗ What WrestlerPointers reference remains unknown.